@model Raiduga.Web.Models.Campaign.CampaignViewModel

@{
	ViewBag.Title = Model == null
		? Raiduga.Web.Localization.Translations.Campaign_NotFound
		: Model.Title;
	Layout = "~/Views/Shared/_LayoutWithoutSlider.cshtml";
}

@if (Model == null)
{
	<p>@Raiduga.Web.Localization.Translations.Campaign_NotFound</p>
}
else
{
	@Html.Raw(Model.BodyHtml)

	@Html.Partial("~/Views/Service/_ApplyToCourseModalPartial.cshtml")
}