@using Raiduga.Web.Localization

<div class="row">
	<div class="col-md-12">
		<a href="/">
			<div class="brand">Райдуга</div>
			<div class="brand-caption">
				Центр інтелектуального та творчого розвитку особистості
			</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="title">
			@Translations.Contacts_Title
		</div>
		@Html.Partial("~/Views/Contact/_FastContactsPartial.cshtml")
	</div>
	<div class="col-md-4">
		<div class="title">
			Карта сайту
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="#">
					Домашня
				</a>
			</div>
			<div class="col-md-6"><a href="#">Розклад</a></div>
			<div class="col-md-6"><a href="#">Наши послуги</a></div>
			<div class="col-md-6"><a href="#">Контакти</a></div>
			<div class="col-md-6">
				<a href="#">Новини</a>
			</div>
			<div class="col-md-6"><a href="#">Про нас</a></div>
			<div class="col-md-6"><a href="@Url.Action("Index", "Admin", new { area = "Admin" })">Admin</a></div>
		</div>
	</div>
</div>
<div class="row social">
	<div class="col-md-12">
		<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	</div>
</div>