@model Raiduga.Web.Models.Common.AffiliateViewModel

@using Raiduga.Web.Localization

<div class="row">
	<div class="col-md-12">
		<a href="/">
			<div class="brand">Райдуга</div>
			<div class="brand-caption">
				Центр інтелектуального та творчого розвитку особистості
			</div>
		</a>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<div class="title">
			@Translations.Contacts_Title
		</div>
		<div class="row">
			<div class="col-md-12">
				<address>
					@foreach (var phone in Model.Phones)
					{
						<i class="fa fa-phone" aria-hidden="true"></i>
						<a href="tel:@phone.Number">@phone.Number</a>
						<br />
					}
				</address>
			</div>
			<div class="col-md-12">
				<address>
					@foreach (var email in Model.Emails)
					{
						<i class="fa fa-envelope" aria-hidden="true"></i>
						<a href="mailto:@email.Value">@email.Value</a>
						<br />
					}
				</address>
			</div>
			<div class="col-md-12">
				<address>
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					@{
						var enFormatProvier = new System.Globalization.CultureInfo("en-EN");
					}
					<a target="_blank" href="http://www.google.com/maps/place/@Model.Address.Latitude.ToString(enFormatProvier),@Model.Address.Longitude.ToString(enFormatProvier)">
						@Model.Address.Name
					</a>
				</address>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="title">
			Карта сайту
		</div>
		<div class="row">
			<div class="col-md-6">
				<a href="#">
					Домашня
				</a>
			</div>
			<div class="col-md-6"><a href="#">Розклад</a></div>
			<div class="col-md-6"><a href="#">Наши послуги</a></div>
			<div class="col-md-6"><a href="#">Контакти</a></div>
			<div class="col-md-6">
				<a href="#">Новини</a>
			</div>
			<div class="col-md-6"><a href="#">Про нас</a></div>
		</div>
	</div>
</div>
<div class="row social">
	<div class="col-md-12">
		<a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
		<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
	</div>
</div>