@model string
@using Raiduga.Web.Localization

@{
	ViewBag.Title = Translations.Thanks_Title;
}

@Html.Partial("_AdwordsPartial")

<div class="thanks">
	<h1 class="text-center">@Translations.Thanks_Title</h1>
	<p class="text-center text-success">
		<i class="fa fa-check"></i>
	</p>
	<h2 class="text-center">@Translations.Thanks_Text</h2>
</div>