################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Raiduga/v14/.suo
/Raiduga.Models/obj/Debug
/Raiduga.Web/bin
/Raiduga.Web/obj/Debug/TempPE
/Raiduga.Web/obj/Debug/uk
/Raiduga.Web/obj/Debug
/Raiduga.DAL/obj/Debug
/.vs/config
/Raiduga.Interface/bin/Debug
/Raiduga.Interface/obj/Debug
/Raiduga.Interface/IEntity.cs
/Raiduga.Models/bin
/Raiduga.Models/obj
/Raiduga.Models/bin/Debug
/Raiduga.Models/bin/Debug
/Raiduga.DAL/bin
/Raiduga.DAL/obj
/Raiduga.ModelTransformer/bin/Debug
/Raiduga.ModelTransformer/obj/Debug
/Raiduga.DAL/obj/Debug
/Raiduga.Web/obj/Release
/packages
