################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Raiduga/v14/.suo
/Raiduga.Models/obj/Debug
