################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Raiduga/v14/.suo
/Raiduga.Models/obj/Debug
/Raiduga.Web/bin
/Raiduga.Web/obj/Debug/TempPE
/Raiduga.Web/obj/Debug/uk
/Raiduga.Web/obj/Debug
/Raiduga.DAL/obj/Debug
/.vs/config
