@using Raiduga.Web.Localization
@{
	ViewBag.Title = Translations.Schedule_PageTitle;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">@Translations.Schedule_PageTitle</h1>
<div class="schedule">
	<ul class="nav nav-tabs">
		<li role="presentation" class="active">
			<a href="#">вул. Волгоградська, 18</a>
			
		</li>
		<li role="presentation"><a href="#">вул. Пітерська, 4а</a></li>
		<li role="presentation"><a href="#">вул. Михайла Донця, 21Б</a></li>
	</ul>
	<div class="tab-content">
		<div class="row">
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Курс</th>
							<th>Понедельник</th>
							<th>Вторник</th>
							<th>Среда</th>
							<th>Четверг</th>
							<th>Пятница</th>
							<th>Суббота</th>
							<th>Воскресенье</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								Навчаемоси з мамою
							</td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>13:00 - 13:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
								<br />
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>16:00 - 16:45<br />
									<i class="fa fa-info-circle"></i>Вік 2-4 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
							<td></td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>13:00 - 13:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
							<td></td>
							<td></td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>11:00 - 11:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Петро Петрович
								</a>
							</td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>15:00 - 15:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
						</tr>
						<tr>
							<td>Сходинки до знань</td>
							<td></td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>13:00 - 13:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
							<td></td>
							<td>
								<a href="#" class="btn btn-danger">
									<i class="fa fa-clock-o"></i>13:00 - 13:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>11:00 - 11:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Петро Петрович
								</a>
							</td>
							<td></td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>15:00 - 15:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
						</tr>
						<tr>
							<td>Funny English</td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>13:00 - 13:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>11:00 - 11:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Петро Петрович
								</a>
							</td>
							<td>
								<a href="#" class="btn btn-danger">
									<i class="fa fa-clock-o"></i>15:00 - 15:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
						</tr>
						<tr>
							<td>Логоритміка</td>
							<td></td>
							<td></td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>13:00 - 13:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
							<td></td>
							<td></td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>11:00 - 11:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Петро Петрович
								</a>
							</td>
							<td>
								<a href="#" class="btn btn-success">
									<i class="fa fa-clock-o"></i>15:00 - 15:45<br />
									<i class="fa fa-info-circle"></i>Вік 1-2 роки «Карапузи»<br />
									<i class="fa fa-graduation-cap"></i>Олена Оленiвна
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>

@section SEOtags {
	<meta name="description" content="Розклад для курсів усіх філій Центру інтелектуального і творчого розвитку особистості Райдуга.">
	<meta name="keywords" content="Розклад, курсів, філії, центр райдуга">
}


