@using Raiduga.Web.Localization
@{
	ViewBag.Title = Translations.Schedule_PageTitle;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h1 class="title">@Translations.Schedule_PageTitle</h1>
</div>

<div class="container">
    <div class="text-center"><h3>Філія</h3></div>
    <div><h4>Вік</h4></div>
    
    <table class="table table-striped">
        <tr>
            <th>Курс</th>
            <th>Група</th>
            <th>Дні тижня</th>
            <th>Час проведення</th>
            <th>Викладач</th>
        </tr>
        <tr>
            <td>Курс 1</td>
            <td>а, б</td>
            <td>
                День тижня 1<br />
                День тижня 2<br />
                День тижня 3<br />
                День тижня 4<br />
                День тижня 5
            </td>
            <td>
                Час проведення 1<br />
                Час проведення 2<br />
                Час проведення 3
            </td>
            <td>ПІБ</td>
        </tr>
        <tr>
            <td>Курс 2</td>
            <td>а, б</td>
            <td>
                День тижня 1<br />
                День тижня 2<br />
                День тижня 3<br />
                День тижня 4<br />
                День тижня 5
            </td>
            <td>
                Час проведення 1<br />
                Час проведення 2<br />
                Час проведення 3
            </td>
            <td>ПІБ</td>
        </tr>
        <tr>
            <td>Курс 3</td>
            <td>а, б</td>
            <td>
                День тижня 1<br />
                День тижня 2<br />
                День тижня 3
            </td>
            <td>
                Час проведення 1<br />
                Час проведення 2<br />
                Час проведення 3
            </td>
            <td>ПІБ</td>
        </tr>
    </table>

</div>



@section SEOtags {
    <meta name="description" content="Розклад для курсів усіх філій Центру інтелектуального і творчого розвитку особистості Райдуга.">
    <meta name="keywords" content="Розклад, курсів, філії, центр райдуга">
}


