@using Raiduga.Web.Localization
@{
	ViewBag.Title = Translations.Schedule_PageTitle;
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<h1 class="title">@Translations.Schedule_PageTitle</h1>
</div>

<div class="container">
    <div class="text-center"><h3>Філія</h3></div>
    
    <div class="text-center"><h3>Дошкільнятам</h3></div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Вік 1</a></li>
        <li><a href="#">Вік 2</a></li>
        <li><a href="#">Вік 3</a></li>
        <li><a href="#">Вік 4</a></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>Курс</th>
                    <th>Група</th>
                    <th>День тижня</th>
                    <th>Час проведення</th>
                    <th>Викладач</th>
                </tr>
                <tr>
                    <td rowspan="5">Курс 1</td>
                    <td rowspan="3">а</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Вівторок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>

                <tr>
                    <td rowspan="2">b</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>

                <tr>
                    <td rowspan="5">Курс 2</td>
                    <td rowspan="3">а</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Вівторок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>

                <tr>
                    <td rowspan="2">b</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>

                <tr>
                    <td rowspan="5">Курс 3</td>
                    <td rowspan="3">а</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Вівторок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>

                <tr>
                    <td rowspan="2">b</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
            </table>

        </div>
    </div>

    <div class="text-center"><h3>Школярам</h3></div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Iнтелектуальні заняття</a></li>
        <li><a href="#">Tворчі заняття</a></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>Курс</th>
                    <th>Група</th>
                    <th>День тижня</th>
                    <th>Час проведення</th>
                    <th>Викладач</th>
                </tr>
                <tr>
                    <td rowspan="5">Курс 1</td>
                    <td rowspan="3">а</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Вівторок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>

                <tr>
                    <td rowspan="2">b</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
            </table>

        </div>
    </div>


    <div class="text-center"><h3>Дорослим</h3></div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">Iнтелектуальні заняття</a></li>
        <li><a href="#">Tворчі заняття</a></li>
    </ul>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <tr>
                    <th>Курс</th>
                    <th>Група</th>
                    <th>День тижня</th>
                    <th>Час проведення</th>
                    <th>Викладач</th>
                </tr>
                <tr>
                    <td rowspan="5">Курс 1</td>
                    <td rowspan="3">а</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Вівторок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>

                <tr>
                    <td rowspan="2">b</td>
                    <td>Понеділок</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
                <tr>
                    <td>Середа</td>
                    <td>12:30-14:00</td>
                    <td>ПІБ</td>
                </tr>
            </table>

        </div>
    </div>


</div>



@section SEOtags {
    <meta name="description" content="Розклад для курсів усіх філій Центру інтелектуального і творчого розвитку особистості Райдуга.">
    <meta name="keywords" content="Розклад, курсів, філії, центр райдуга">
}


