@*@{
        var routeDictionaryRu = new RouteValueDictionary(ViewContext.RouteData.Values);
        routeDictionaryRu["culture"] = "ru";

        var routeDictionaryUA = new RouteValueDictionary(ViewContext.RouteData.Values);
        routeDictionaryUA["culture"] = "uk";

        var routeDictionaryEng = new RouteValueDictionary(ViewContext.RouteData.Values);
        routeDictionaryEng["culture"] = "en";
    }
    <a href="@Url.RouteUrl(routeDictionaryRu)">ru</a>
    <a href="@Url.RouteUrl(routeDictionaryUA)">ua</a>
    <a href="@Url.RouteUrl(routeDictionaryEng)">eng</a>*@
