@import url('lib.less');

body {
	color: @text-color;
}

i {
	margin-right: 5px;
}

.material-switch {
	> input[type="checkbox"] {
		display: none;
	}

	> label {
		cursor: pointer;
		height: 0px;
		position: relative;
		width: 40px;

		&::before {
			background: rgb(0, 0, 0);
			box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
			border-radius: 8px;
			content: '';
			height: 16px;
			margin-top: -8px;
			position: absolute;
			opacity: 0.3;
			transition: all 0.4s ease-in-out;
			width: 40px;
		}

		&::after {
			background: rgb(255, 255, 255);
			border-radius: 16px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			content: '';
			height: 24px;
			left: -4px;
			margin-top: -8px;
			position: absolute;
			top: -4px;
			transition: all 0.3s ease-in-out;
			width: 24px;
		}

		> input[type="checkbox"]:checked + label::before {
			background: inherit;
			opacity: 0.5;
		}
	}

	> input[type="checkbox"]:checked + label::after {
		background: inherit;
		left: 20px;
	}
}

header {
	.top-line {
		padding: 10px 30px 10px 60px;
	}

	a {
		&:hover {
			color: @hover-color;
		}

		color: @text-color;
		text-decoration: none;
	}

	a.logo img {
		height: 100px;
		width: 100px;
		float: left;
	}

	a.logo h4 {
		float: left;
		margin-top: 20px;
		font-family: @font-comforta;
		font-size: 1.4em;
	}

	.navbar {
		margin-top: 20px;
		border: none;
		background: #FFFFFF;

		.navbar-header {
			.navbar-brand {
				&.active,
				&:hover {
					color: #D1102E;
				}
			}
		}

		ul.navbar-nav {
		}
	}
}

footer {
	margin-top: 20px;
	padding: 10px 30px 60px 80px;
	background-color: #5A1595;
	color: #FFFFFF;
	font-family: @font-open-sans;

	a {
		color: #FFFFFF;

		&:hover {
			text-decoration: none;
		}
	}

	.brand, .brand-caption {
		font-family: @font-comforta;
		font-size: 2.5em;
	}

	.brand-caption {
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	.title {
		font-weight: bold;
		margin: 15px 0;
	}

	.row.social {
		a {
			margin-right: 7px;
		}

		margin-top: 10px;
		font-size: 2em;
	}
}

.contacts {
	color: @color-primary;
	font-family: @font-open-sans;

	h1, h2, h3, h4 {
		color: @color-primary;
		font-family: @font-open-sans;
		font-weight: bold;
	}

	h2 {
		&.title {
			margin-bottom: 30px;
			text-align: center;
		}
	}

	&.home {
		margin-top: 30px;
	}

	.map {
		height: 300px;
		width: 100%;
	}



	address {
		font-size: 0.9em;
		letter-spacing: 1px;
	}

	a {
		&:hover {
			color: @color-hover;
		}

		color: @color-primary;
	}

	.contact-form {
		margin-top: 30px;

		.btn-margin {
			margin: 5px;
		}

		#loader {
			position: absolute;
			display: none;
		}
	}
}

.services {
	margin-top: 20px;

	.service-block {
		hr {
			border-width: 3px;
		}

		&:nth-child(1) {
			hr, .btn-primary {
				&:hover {
					border-color: @color-orange-hover;
					background-color: @color-orange-hover;
				}

				border-color: @color-orange;
				background-color: @color-orange;
			}
		}

		&:nth-child(2) {
			hr, .btn-primary {
				&:hover {
					border-color: @color-green-hover;
					background-color: @color-green-hover;
				}

				border-color: @color-green;
				background-color: @color-green;
			}
		}

		&:nth-child(3) {
			hr, .btn-primary {
				&:hover {
					border-color: @color-purple-hover;
					background-color: @color-purple-hover;
				}

				border-color: @color-purple;
				background-color: @color-purple;
			}
		}
	}
}
