@import url('lib.less');

body {
	color: @text-color;
	font-family: @font-open-sans;
}

i {
	margin-right: 5px;
}

.material-switch {
	> input[type="checkbox"] {
		display: none;
	}

	> label {
		cursor: pointer;
		height: 0px;
		position: relative;
		width: 40px;

		&::before {
			background: rgb(0, 0, 0);
			box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
			border-radius: 8px;
			content: '';
			height: 16px;
			margin-top: -8px;
			position: absolute;
			opacity: 0.3;
			transition: all 0.4s ease-in-out;
			width: 40px;
		}

		&::after {
			background: rgb(255, 255, 255);
			border-radius: 16px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
			content: '';
			height: 24px;
			left: -4px;
			margin-top: -8px;
			position: absolute;
			top: -4px;
			transition: all 0.3s ease-in-out;
			width: 24px;
		}

		> input[type="checkbox"]:checked + label::before {
			background: inherit;
			opacity: 0.5;
		}
	}

	> input[type="checkbox"]:checked + label::after {
		background: inherit;
		left: 20px;
	}
}

header {
	.row {
		margin: 0;
	}

	.main-menu {
		border-bottom: 1px solid @color-grey-border;
		width: 100%;
		padding: 10px 5%;
	}

	a {
		&:hover {
			color: @hover-color;
		}

		color: @text-color;
		text-decoration: none;
	}

	a.logo img {
		width: 100px;
		float: left;
		margin-right: 10px;
	}

	a.logo h4 {
		float: left;
		margin-top: 20px;
		font-family: @font-open-sans;
		font-weight: bold;
		font-size: 1.4em;
		color: @text-color;

		&:hover {
			color: @color-blue;
			transition: color 0.3s;
		}
	}

	.navbar {
		margin: 0px;
		border: none;
		background: #FFFFFF;

		.navbar-header {
			width: 50%;

			.navbar-brand {
				&.active,
				&:hover {
					color: #D1102E;
				}
			}
		}

		.navbar-collapse {
			float: left;
			width: 50%;
			padding: 15px 0;

			.nav.navbar-nav {
				float: right;
				padding: 0;

				& li a {
					font-weight: bold;
					color: @text-color;
					font-size: 14px;
					text-transform: uppercase;

					& .fa.fa-home {
						font-size: 20px;
					}

					&:hover {
						transition: color 0.3s;
					}
				}

				& li:nth-child(1) a:hover {
					color: @color-red;
				}

				& li:nth-child(2) a:hover {
					color: @color-orange;
				}

				& li:nth-child(3) a:hover {
					color: @color-yellow;
				}

				& li:nth-child(4) a:hover {
					color: @color-green;
				}

				& li:nth-child(5) a:hover {
					color: @color-light-blue;
				}

				& li:nth-child(6) a:hover {
					color: @color-blue;
				}

				& li:nth-child(7) a:hover {
					color: @color-purple;
				}
			}
		}
	}

	.navbar-toggle {
		color: rgb(255, 255, 255);
		font-size: 1em;
		padding: 2px 7px;
		margin-top: 20px;

		i {
			margin: 0;
		}
	}
}

footer {
	margin-top: 20px;
	padding: 10px 30px 60px 80px;
	background-color: #5A1595;
	color: #FFFFFF;
	font-family: @font-open-sans;

	a {
		color: #FFFFFF;

		&:hover {
			text-decoration: none;
		}
	}

	.brand, .brand-caption {
		font-family: @font-comforta;
		font-size: 2.5em;
	}

	.brand-caption {
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	.title {
		font-weight: bold;
		margin: 15px 0;
	}

	.row.social {
		a {
			margin-right: 7px;
		}

		margin-top: 10px;
		font-size: 2em;
	}
}

.contacts {
	color: @color-primary;
	font-family: @font-open-sans;

	h1, h2, h3, h4 {
		color: @color-primary;
		font-family: @font-open-sans;
		font-weight: bold;
	}

	h2 {
		&.title {
			margin-bottom: 30px;
			text-align: center;
		}
	}

	&.home {
		margin-top: 30px;
	}

	.map {
		height: 300px;
		width: 100%;
	}



	address {
		font-size: 0.9em;
		letter-spacing: 1px;
	}

	a {
		&:hover {
			color: @color-hover;
		}

		color: @color-primary;
	}

	.panel-default {
		& > .panel-heading > h4 a {
			color: #fff;
		}

		&:nth-child(4n+1) > .panel-heading {
			background-color: @color-orange;
		}

		&:nth-child(4n+2) > .panel-heading {
			background-color: @color-green;
		}

		&:nth-child(4n+3) > .panel-heading {
			background-color: @color-purple;
		}
	}

	.contact-form {
		margin-top: 30px;

		&.panel-default > .panel-heading {
			background-color: @color-light-blue;

			h4 {
				color: white;
			}
		}

		.btn-margin {
			margin: 5px;
		}

		#loader {
			position: absolute;
			display: none;
		}
	}
}

.services {
	margin-top: 20px;

	.service-block {
		margin-bottom: 20px;

		hr {
			border-width: 3px;
		}

		.thumbnail {
			border-radius: 10px;
			padding: 20px;

			ul {
				list-style: none;
				margin: 30px 0 20px 0;
			}
		}

		&:nth-child(4n+1) {
			hr, .btn-primary {
				&:hover {
					border-color: @color-orange-hover;
					background-color: @color-orange-hover;
				}

				border-color: @color-orange;
				background-color: @color-orange;
			}

			.thumbnail {
				border: solid 3px @color-orange;
			}
		}

		&:nth-child(4n+2) {
			hr, .btn-primary {
				&:hover {
					border-color: @color-green-hover;
					background-color: @color-green-hover;
				}

				border-color: @color-green;
				background-color: @color-green;
			}

			.thumbnail {
				border: solid 3px @color-green;
			}
		}

		&:nth-child(4n+3) {
			hr, .btn-primary {
				&:hover {
					border-color: @color-purple-hover;
					background-color: @color-purple-hover;
				}

				border-color: @color-purple;
				background-color: @color-purple;
			}

			.thumbnail {
				border: solid 3px @color-purple;
			}
		}
	}
}

.features {
	.row > div {
		img {
			float: left;
			width: 40%;
		}

		h4 {
			float: left;
			width: 60%;
			margin-top: 40px;
		}
	}
}

.feedbacks {
	.feedback-item {
		margin-bottom: 40px;

		img, hr {
			border-style: solid;
		}

		img {
			border-width: 5px;
		}

		hr {
			border-width: 2px;
		}

		&:nth-child(4n+1) img, &:nth-child(4n+1) hr {
			border-color: @color-orange;
		}

		&:nth-child(4n+2) img, &:nth-child(4n+2) hr {
			border-color: @color-green;
		}

		&:nth-child(4n+3) img, &:nth-child(4n+3) hr {
			border-color: @color-red;
		}

		&:nth-child(4n+4) img, &:nth-child(4n+4) hr {
			border-color: @color-blue;
		}

		&:nth-child(4n+5) img, &:nth-child(4n+5) hr {
			border-color: @color-purple;
		}
	}
}

.about {
	.row {
		.media {
			margin-bottom: 20px;

			h4 {
				font-weight: bold;
				font-family: @font-open-sans;
			}

			.media-object {
				float: left;
				border: solid 5px;
				border-radius: 50%;
				padding: 10px;
				margin: 10px;
				font-size: 2em;
				font-weight: bold;
				font-family: @font-comforta;
				min-width: 75px;
				text-align: center;
			}
		}

		&:nth-child(2n+1) .media {
			.media-object {
				float: left;
				margin-right: 20px;
			}
		}

		&:nth-child(2n+2) .media {
			h4 {
				text-align: right;
			}

			.media-object {
				float: right;
				margin-left: 20px;
			}
		}

		&:nth-child(7n+1) {
			.media .media-object {
				border-color: @color-red;
			}
		}

		&:nth-child(7n+2) {
			.media .media-object {
				border-color: @color-orange;
			}
		}

		&:nth-child(7n+3) {
			.media .media-object {
				border-color: @color-green;
			}
		}

		&:nth-child(7n+4) {
			.media .media-object {
				border-color: @color-yellow;
			}
		}

		&:nth-child(7n+5) {
			.media .media-object {
				border-color: @color-light-blue;
			}
		}

		&:nth-child(7n+6) {
			.media .media-object {
				border-color: @color-blue;
			}
		}

		&:nth-child(7n+7) {
			.media .media-object {
				border-color: @color-purple;
			}
		}
	}
}

/*xxs*/
@media (max-width: 340px) {
	header {
		.navbar-nav {
			margin: 0;
		}

		.main-menu {
			padding: 10px 1% !important;
		}

		.navbar-header {
			width: 100% !important;

			a.logo img {
				width: 50px !important;
				float: left;
				margin: 0 5px;
			}

			a.logo h4 {
				float: left;
				margin-top: 10px !important;
				font-size: 0.7em !important;
				color: @text-color;

				&:hover {
					color: @color-blue;
					transition: color 0.3s;
				}
			}
		}

		.navbar-collapse {
			width: 100% !important;
			padding: 0 !important;
			margin-top: 10px !important;
			border-top: 1px solid @color-grey-border !important;


			&:focus {
				background: @color-orange !important;
			}
		}
	}
}
/*xs*/
@media (max-width: 767px) {
	header {
		.navbar-nav {
			margin: 0;
		}

		.main-menu {
			padding: 10px 1% !important;
		}

		.navbar-header {
			width: 100% !important;

			a.logo img {
				width: 60px;
				float: left;
				margin: 0 5px;
			}

			a.logo h4 {
				float: left;
				margin-top: 15px;
				font-size: 0.8em;
				color: @text-color;

				&:hover {
					color: @color-blue;
					transition: color 0.3s;
				}
			}
		}

		.navbar-collapse {
			width: 100% !important;
			padding: 0 !important;
			margin-top: 10px !important;
			border-top: 1px solid @color-grey-border !important;

			ul {
				float: right !important;
				text-align: right;
				padding-right: 10px !important;
			}
		}

		.navbar-toggle {
			margin: 15px 10px 0 0;
			background: @color-red !important;
			border: 0 !important;

			&:focus {
				background: @color-orange !important;
			}
		}
	}
}
/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
	header {
		.main-menu {
			padding: 10px 2% !important;
		}

		.navbar-header {
			width: 100% !important;
		}

		.navbar-collapse {
			width: 100% !important;
			padding: 10px 0 0 !important;

			ul {
				float: left !important;
			}
		}
	}
}
/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
	header {
		.main-menu {
			padding: 10px 1% !important;
		}

		.navbar {
			margin: 0px;
			border: none;
			background: #FFFFFF;

			a.logo img {
				width: 90px;
				float: left;
				margin-right: 10px;
			}

			a.logo h4 {
				margin-top: 20px;
				font-size: 1.2em;
			}

			.nav.navbar-nav {
				& li a {
					font-weight: bold;
					color: @text-color;
					font-size: 12px !important;
					text-transform: uppercase;

					& .fa.fa-home {
						font-size: 20px;
					}
				}
			}
		}
	}
}
/*lg*/
@media (min-width: 1200px) {
}
