@model Raiduga.Web.Models.Common.AffiliateViewModel

@{
	var enFormatProvier = new System.Globalization.CultureInfo("en");
}

<div class="row">
	<div class="col-md-12">
		@Html.Raw(Model.HtmlDataContacts)
	</div>
	<div class="col-md-12">
		<address>
			<i class="fa fa-map-marker" aria-hidden="true"></i>
			<a target="_blank" href="http://www.google.com/maps/place/@Model.Address.Latitude.ToString(enFormatProvier),@Model.Address.Longitude.ToString(enFormatProvier)">
				@Model.Address.Name
			</a>
		</address>
	</div>
</div>