@using Raiduga.Web.Localization
@model Raiduga.Web.Models.Common.HtmlContentViewModel
@{
	ViewBag.Title = Translations.About_PageTitle;
	var enFormatProvier = new System.Globalization.CultureInfo("en-EN");
}

<h1 class="title">@Translations.About_PageTitle</h1>
@Html.Raw(Model.BodyHtml)
