@using Raiduga.Web.Localization
@model Raiduga.Web.Models.Common.HtmlContentViewModel
@{
	ViewBag.Title = Translations.About_PageTitle;
	var enFormatProvier = new System.Globalization.CultureInfo("en-EN");
}

<h1 class="title">@Translations.About_PageTitle</h1>
@Html.Raw(Model.BodyHtml)


@section SEOtags {
    <meta name="description" content="Про Центр інтелектуального і творчого розвитку особистості Райдуга, наші досягнення та персонал.">
    <meta name="keywords" content="центр розвитку особистості, про нас, наш персонал, наші досягнення">
}